#move {
    height: 200px;
    width: 200px;
    background: red;
    animation: move infinite
}

@keyframes move {
    0% {
        /* transform: rotate(0deg); */
        background-color: red;
        opacity: 0;
    }
    10% {
        /* transform: rotate(0deg); */
        background-color: red;
        opacity: 0.3;
        transform: translateX(300px);
    }
    50% {
        /* transform: rotate(0deg); */
        background-color: green;
        opacity: 0.6;
        transform: translateX(600px) rotate(40deg);
    }
   
}